{% extends 'base.html' %}


{% block content %}
   
<div class="row">
    <div class="col-md-4 text-center mx-auto">
        <h1>Logout</h1>

        {% include 'snippets/form_errors.html' %}
        
        {% if not request.user.is_authenticated %}
            <p> Login required. Please go <a href="/login">here to login</a> .</p>
        {% else %}
        <form action="" method="post">
            <p>Would you like to logout?</p>
            <button class="btn btn-primary mt-2" type="submit">Yes, logout</button>
        </form>

        <div class="mt-3">
            <p><a href="/signup">Do you need an account?</a></p>
        </div>
        
        {% endif %}
    </div>
</div>  
    
{% endblock content %}

    