<div>
    {% include 'snippets/form_errors.html' %}

    <form method="post" action="/videos/create" hx-post="/videos/create">

        <div>
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" required="required" placeholder="Your video title" value="{% if title %}{{title}}{% endif %}">
        </div>

        <div>
            <label for="url">Youtube Link</label>
            <input class="form-control" type="text" name="url" required="required" placeholder="https://www.youtube.com/watch?v=7bZLYwI7NWk" value="{% if url %}{{url}}{% endif %}">
        </div>

        <button class="btn btn-primary mt-2"type="submit">Add Video</button>
    </form>
</div>